
.skills-section
{

    padding: 10vh 0 10vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: -1;
}

@media screen and (max-width: 768px) {

    .skills-section
    {
        display: flex;
        flex-direction: column;
        padding: 5vh 0 5vh 0;

        gap: 10vh;
    }

    .card-front h3
    {
        font-size: 3vh;
    }

    .card-front h2
    {
        font-size: 4.5vh;
    }
    
}